<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <queries>
        <package android:name="com.spotify.music" />
        <package android:name="com.mm.android.smartlifeiot" />
    </queries>
    <application
        android:label="LUMI Hub"
        android:icon="@drawable/lumi_icon"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OfflineVoiceLabActivity"
            android:exported="false" />
        <activity android:name=".CameraRoomActivity"
            android:exported="false" />
        <receiver android:name=".ScreenLockAdmin"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/lumi_screen_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service android:name=".HubService"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
    </application>
</manifest>
